{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'servicos/css/servicos.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div class="col-md card-dashboard">
                <p onclick="exibir_form('1')" class="text-card">Categoria de Serviço</p>
            </div>
            <div class="col-md card-dashboard">
                <p onclick="exibir_form('2')" class="text-card">Ordem de Serviço</p>
            </div>
        </div>
        <div id="categoria-servico">
            <form action="{% url 'adicionar_categoria' %}" method="POST">{% csrf_token %}
                <label for="">Nome do serviço oferecido</label>
                <input type="text" name="titulo_servico" class="form-control">
                <br>
                <label for="">Preço do serviço</label>
                <input type="text" name="preco_servico" class="form-control">
                <br>
                <button class="btn btn-success" type="submit">Adicionar Serviço</button>
            </form>
        </div>
        <div id="ordem-servico">
            <form action="{% url 'novo_servico' %}" method="POST">{% csrf_token %}
                <label for="">Titulo do Serviço</label>
                <input class="form-control" name="titulo" type="text" placeholder="Titulo do Serviço">
                <br>
                <div class="row">
                    <div class="col-md">
                        <label for="">Cliente</label>
                        <select onchange="dados_cliente()" id="id-cliente" name="cliente" class="form-control">
                            <option selected disabled>Selecionar o cliente</option>
                            {% for cliente in clientes %}
                            <option value="{{cliente.id}}">{{cliente.nome}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md">
                        <label for="">Carro do Cliente</label>
                        <select class="form-control" name="carro" id="carro">
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md">
                        <label for="">Escolher o tipo de manutenção</label>
                        <select class="form-control" size="4" onchange="att_preco()" multiple name="manutencao" id="select-manutencao">
                            <!-- <option selected disabled>Tipo de manutenção</option> -->
                            {% for manutencao in manutencoes %}
                                <option value="{{manutencao.id}}">{{manutencao.titulo}} - R${{manutencao.preco}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md">
                        <label for="">Data de inicio</label>
                        <input class="form-control" type="date" name="data_inicio" id="">
    
                        <label for="">Data de entrega</label>
                        <input class="form-control" type="date" name="data_entrega" id="">
                    </div>
                </div>
                <br>
                <hr style="background-color: gray;">
                <div class="row">
                    <div class="col-md">
                        <input id="input-valor-total" type="hidden" value="" name="total">
                        <h3 id="valor-total">TOTAL: R$0</h3>
                    </div>
                </div>
                <br>
                <button class="btn btn-success" type="submit">Adicionar Serviço</button>
            </form>
        </div>
    </div>
    <script src="{% static 'servicos/js/servicos.js' %}"></script>
{% endblock %}